body{
    background-color: #FFE019;
}
.notes {
    height: 500px;
}
.formview {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.brand {
    font-weight:bold;
    font-size: 24px;
}
.links:hover {
    text-decoration:underline;
}


@media screen and (min-width: 480px) {
    .brand {
        font-size: 36px;
        font-weight:bold;
    }
}
